<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Netflix</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Discover</a>
      <a mat-list-item href="#">Favorites</a>
      <a mat-list-item href="#">History</a>
      <a mat-list-item href="#">Downloads</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span><a meta-list-item href="#">netflix</a></span> -->
      <form class="search" action="search">
          <input type="text" class='searchbar' name="searchterm" placeholder="Search">
          <button class="search-button">Go</button>
      </form>
      <span><a mat-list-item href="#">play</a></span>
      <span class="nav-profile"><a mat-list-item href="#">profile</a></span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container> -->
